.emptyState {
  width: 100%;
  height: calc(
    100% - 52px
  ); /* Adjusted for header height (32input + 10margin + 10margin)  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.emptyStateText {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  h4 {
    font-weight: 600;
  }

  p {
    font-weight: 400;
  }
}
